registry=https://registry.npmjs.org/
sharp_binary_host=https://registry.npmjs.org/@img/sharp-libvips
sharp_libvips_binary_host=https://registry.npmjs.org/@img/sharp-libvips
@swc:registry=https://registry.npmjs.org/
@img:registry=https://registry.npmjs.org/ 